@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, #cff89a, #FFFFCC);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
}