@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(124, 124, 123, 0.6), rgba(124, 124, 123, 0.5)), linear-gradient(to top, rgb(250, 229, 125), rgb(253 224 71));
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
}